@import '../../assets/styles/mixins/media.scss';

.pokedex {
    background-color: #5dc5b1;
    width: 100%;
    padding: 0 5px;
    min-height: 100vh;
    &__container {
        background-color: #f5fff4;
        width: 100%;
        min-height: 100vh;
    }
    &__button {
        position: fixed;
        bottom: 20px;
        text-align: center;
        left: 45%;
    }
}
